.links {
  margin: 3rem 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.links span {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 50vh;
  border: 2px solid var(--white);
  transition: all 0.25s ease;
}

.links span:hover {
  transform: scale(1.25);
}

.links ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.links li {
  list-style: none;
  padding: 1rem;
}

.links i {
  font-size: 2rem;
  color: var(--white);
}

.dropdown {
  transition: 350ms;
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  filter: drop-shadow(5);
  position: fixed;
  display: absolute;
  width: 100%;
  height: 400px;
  top: 0;
  display: flex;
  flex-direction: column;
}

.dropdown li,
.dropdown a {
  list-style: none;
  text-decoration: none;
  border: 0;
  width: 90%;
  padding: 10px 0;
}

.dropdown h3 {
  margin: 0;
  padding-bottom: 10px;
  font-size: 1.7rem;
  color: var(--white);
}

.dropdown li {
  border-bottom: 1px solid var(--lightgrey);
}

.dropdown i,
.hamburger i {
  color: var(--white);
  font-size: 2rem;
  padding: 1rem 2rem;
}

.scroll i {
  color: var(--bg);
}

.noScroll i {
  color: var(--white);
}

.hamburger {
  display: none;
  height: 0;
}

.dropdown span,
.hamburger span {
  width: 50px;
  height: 50px;
  display: flex;
  border-radius: 50vh;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
  .links ul {
    display: none;
  }
  .dropdown {
    display: flex;
  }
  .hamburger span {
    position: fixed;
  }
}
