@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Mono&display=swap");

:root {
  --grey: #636363;
  --dark: #3d4449;
  --lightgrey: #d4d4d4;
  --white: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --color1: #f56a6a;
  --color2: #a89cc8;
  --color3: #8cc9f0;
  --bg: #348cb2;
  --bglight: #3495b2;
}

p {
  color: var(--grey);
  font-weight: 300;
  line-height: 1.5;
  margin: 0 0 0.7em 0;
  font-size: 1.4rem;
}

h1,
h2,
h3 {
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.4rem;
}

h2 {
  font-size: 2rem;
  color: var(--dark);
}

h3 {
  color: var(--grey);
}

h1 {
  font-size: 3rem;
}

body {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: var(--bg) url("./images/bg.jpg") bottom left;
  background-repeat: repeat-x;
  height: 100%;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.1rem;
  }
}
